.pagination {
    list-style-type: none;
}
.pagination li{
    position: relative;
    left: 200px;
    float: left;
    margin-right: 6px;
    padding-left: 10px;
    text-align: center;
    height: 20px;
    width: 55px;
}
.sr-only{

}
.active{
    text-align: center;
}