<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dms.mapper.medMapper">

    <insert id="addMedicine" parameterType="com.dms.pojo.medicine">
        INSERT INTO tb_medicine(medNo,name,factoryAdd,description,price,medCount,photoPath,categoryId)
        VALUES(#{medNo},#{name},#{factoryAdd},#{description},#{price},#{medCount},#{PhotoPath},#{categoryId})
    </insert>

    <select id="findAllCategory" resultType="com.dms.pojo.category">
        SELECT *FROM tb_category
    </select>

    <select id="findAllMedicine" parameterType="string" resultType="com.dms.pojo.medicine">
        select *from tb_medicine
        <if test="keyWord!=null and keyWord !=''">
            where name like '%${keyWord}%' or factoryAdd like '%${keyWord}%'
        </if>
    </select>

    <delete id="deleteMedicineById" parameterType="int">
        DELETE FROM tb_medicine WHERE id =#{id}
    </delete>

    <select id="findMedicineById" parameterType="int" resultType="com.dms.pojo.medicine">
        select *from tb_medicine where id = #{id}
    </select>

    <update id="updateMedicineById" parameterType="com.dms.pojo.medicine">
        UPDATE tb_medicine SET medCount=#{medCount},factoryAdd=#{factoryAdd},description=#{description} WHERE medNo=#{medNo}
    </update>

    <select id="findAdvanced" parameterType="com.dms.pojo.medicine" resultType="com.dms.pojo.medicine">
        select *from tb_medicine
        where medNo like '%${medNo}%'
        <if test="name != null and name !=''">
        and name like '%${name}%'
        </if>
        <if test="factoryAdd != null and factoryAdd !=''">
        and factoryAdd like '%${factoryAdd}%'
        </if>
        <if test="description != null and description !=''">
        and description like '%${description}%'
        </if>
    </select>

    <select id="findByCount" parameterType="int" resultType="medicine">
        select *from tb_medicine where
        <if test="param1 == -1">
            medCount &lt; #{param2}
        </if>
        <if test="param1 == 0">
            medCount = #{param2}
        </if>
        <if test="param1 == 1">
            medCount &gt; #{param2}
        </if>
    </select>

    <select id="findDetailed" parameterType="int" resultType="medicine">
        select a.*,b.`name` categoryName,COUNT(c.sellCount) count from tb_medicine a,tb_category b,tb_selldetail c
        where a.id = #{id} AND b.id=a.categoryId AND c.medid = #{id}
    </select>

    <select id="findMedicineMedNo" parameterType="string" resultType="string">
        select medNo from tb_medicine where medNo = #{param1}
    </select>

    <insert id="addOrder" parameterType="medicine">
        INSERT INTO tb_order(medNo,name,price,count,medCount,factoryAdd,description,photoPath)
        VALUES(#{medNo},#{name},#{price},#{count},0,#{factoryAdd},#{description},#{photoPath})
    </insert>

    <select id="findAllOrder" parameterType="string" resultType="com.dms.pojo.medicine">
        select a.*,b.medCount from tb_order a,tb_medicine b WHERE a.medNo=b.medNo
        <if test="keyWord!=null and keyWord !=''">
            and (a.name like '%${keyWord}%' or a.factoryAdd like '%${keyWord}%')
        </if>
    </select>

    <select id="findOrderId" parameterType="int" resultType="medicine">
        select a.*,b.medCount from tb_order a,tb_medicine b
        where b.id = #{id} AND b.id=a.id
    </select>

    <update id="modCount" parameterType="medicine">
        update tb_order set count = #{count} where medNo = #{medNo}
    </update>

    <delete id="deleteOrderById" parameterType="int">
        DELETE FROM tb_order WHERE id =#{id}
    </delete>

    <select id="findUser" parameterType="user" resultType="user">
        select *from tb_user where username=#{username} and password=#{password}
    </select>
</mapper>